
  <div class="navbar fixed-top">
    <button type="button" name="button" class="index-button btn"><a href="#index"><%= partial 'images/icons/chevrons-up' %></a></button>
    <div class="guide-navbar">
      <a class="navbar-brand" href="../index.html"><%= image_tag "logo_deepidoo_black.png", class:"brand-logo", style:'object-fit: contain' %></a>
      <a class="nav-items" href="tel:+33 4 37 26 85 75"><%= partial 'images/icons/phone-call' %> </a>
    </div>
  </div>
