---
title: Deepidoo Installation Help
---

<title>Deepidoo Installation Help</title>

<link href="stylesheets/application.css" rel="stylesheet" />

<div class="container">
 <div class="deepidoo-logo">
   <img src="images/logo_deepidoo_black.png" class="welcome_logo" style="height: 20%; width: 100%; object-fit: contain" alt="Logo deepidoo black" />
 </div>
 <div class="partners-logo">
   <div class="card" style="width: 18rem;">
     <div class="card-body">
       <a href="fr/lg_guides.html"> <img src="images/logo_lg.png" class="welcome_logo" style="height: 20%; width: 100%; object-fit: contain" alt="Logo lg" /></a>
     </div>
   </div>
   <div class="card" style="width: 18rem;">
     <div class="card-body">
       <a href="fr/samsung_guides.html"><img src="images/logo_samsung.png" class="welcome_logo" style="height: 20%; width: 100%; object-fit: contain" alt="Logo samsung svg" /></a>
     </div>
   </div>
 </div>
 <div class="phone-contact">
   <div class="card-body">
     <a class="nav-items home-support" href="tel:+33 4 37 26 85 75"><%= partial 'images/icons/phone-call' %> </a>
   </div>
 </div>
</div>
