<div class="container">
  <div class="screens-versions">
    <div class="card-body lang-choice">
      <h4><%= simple_format t(:screen_list) %></h4>
    </div>
    <% data.lg.screens.each do |g| %>
      <div class="version">
        <div class="card" style="width: 18rem;">
          <div class="card-body screen">
            <%= link_to "#{g.name}", "#{g.os}.html", class:"stretched-link" %>
          </div>
        </div>
      </div>
    <% end %>
    <div class="back-menu">
      <a class="" href="../<%= current_local %>/lg_guides.html"><%= partial 'images/icons/arrow-left-circle' %> </a>
    </div>
  </div>
</div>
